.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  section {
    width: fit-content;

    h1 {
      font-size: 2rem;
    }

    div {
      border-radius: 1rem;
      background: #101010;
      padding: 1.5rem 3rem;
      display: flex;
      gap: 2rem;

      figure {
        display: flex;
        justify-content: flex-start;
        margin: 0;

        img {
          border-radius: 1rem;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;

        align-self: center;
        padding: 1rem;
        background: #202020;
        border-radius: 0.5rem;

        font-size: 1.25rem;
        max-width: 20rem;

        li:nth-of-type(n + 2) {
          margin-top: 1rem;
        }
      }
    }
  }
}
